**/.vitepress/dist
**/.vitepress/cache
node_modules
*.log*
.nitro
.cache
.output
.env
dist
.eslintcache
docs/.vitepress/.temp
result

# Frontend build
frontend/dist
frontend/node_modules

# Backend
backend/.env
backend/vendor
